.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 1.5rem;
}
.inputContainer h1 span {
  color: var(--primary-color);
}
.inputContainer div {
  display: flex;
  margin-bottom: 2rem;
}
.inputContainer input {
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.inputContainer input::placeholder {
  font-size: 0.9rem;
}
.inputContainer button {
  padding: 0 1rem;
  height: 3rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

/* Result */
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.result p {
  color: #fff;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}
.result button {
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  background: var(--primary-color);
  border: none;
}
.result button.copied {
  background: #fff;
  color: var(--primary-color);
}
.noData {
  color: #fff;
  font-size: 1rem;
}

/* background animate */
@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #3E1E68;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 10vmin;
  height: 10vmin;
  border-radius: 10vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 29;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #583C87;
  top: 28%;
  left: 68%;
  animation-duration: 27s;
  animation-delay: -31s;
  transform-origin: 0vw 25vh;
  box-shadow: -20vmin 0 3.175959132129409vmin currentColor;
}
.background span:nth-child(1) {
  color: #583C87;
  top: 30%;
  left: 69%;
  animation-duration: 179s;
  animation-delay: -25s;
  transform-origin: -4vw -10vh;
  box-shadow: -20vmin 0 3.105221716263789vmin currentColor;
}
.background span:nth-child(2) {
  color: #E45A84;
  top: 86%;
  left: 16%;
  animation-duration: 168s;
  animation-delay: -72s;
  transform-origin: -24vw -10vh;
  box-shadow: 20vmin 0 3.0022095203291936vmin currentColor;
}
.background span:nth-child(3) {
  color: #E45A84;
  top: 56%;
  left: 41%;
  animation-duration: 81s;
  animation-delay: -150s;
  transform-origin: -19vw 5vh;
  box-shadow: -20vmin 0 3.115371588130068vmin currentColor;
}
.background span:nth-child(4) {
  color: #E45A84;
  top: 69%;
  left: 43%;
  animation-duration: 158s;
  animation-delay: -174s;
  transform-origin: -22vw -15vh;
  box-shadow: -20vmin 0 2.662557970179411vmin currentColor;
}
.background span:nth-child(5) {
  color: #E45A84;
  top: 45%;
  left: 72%;
  animation-duration: 203s;
  animation-delay: -30s;
  transform-origin: -4vw -16vh;
  box-shadow: -20vmin 0 2.755671740447908vmin currentColor;
}
.background span:nth-child(6) {
  color: #E45A84;
  top: 13%;
  left: 80%;
  animation-duration: 20s;
  animation-delay: -104s;
  transform-origin: -18vw 17vh;
  box-shadow: -20vmin 0 2.748075700898699vmin currentColor;
}
.background span:nth-child(7) {
  color: #FFACAC;
  top: 32%;
  left: 98%;
  animation-duration: 137s;
  animation-delay: -85s;
  transform-origin: -17vw 17vh;
  box-shadow: 20vmin 0 2.6211684861844433vmin currentColor;
}
.background span:nth-child(8) {
  color: #FFACAC;
  top: 37%;
  left: 12%;
  animation-duration: 62s;
  animation-delay: -192s;
  transform-origin: -12vw 3vh;
  box-shadow: -20vmin 0 3.064429180514054vmin currentColor;
}
.background span:nth-child(9) {
  color: #583C87;
  top: 12%;
  left: 91%;
  animation-duration: 38s;
  animation-delay: -81s;
  transform-origin: 24vw 2vh;
  box-shadow: 20vmin 0 2.8804288049774494vmin currentColor;
}
.background span:nth-child(10) {
  color: #583C87;
  top: 81%;
  left: 43%;
  animation-duration: 78s;
  animation-delay: -69s;
  transform-origin: -1vw 10vh;
  box-shadow: -20vmin 0 3.107352247568442vmin currentColor;
}
.background span:nth-child(11) {
  color: #583C87;
  top: 3%;
  left: 24%;
  animation-duration: 94s;
  animation-delay: -119s;
  transform-origin: 18vw -9vh;
  box-shadow: -20vmin 0 2.848880864818165vmin currentColor;
}
.background span:nth-child(12) {
  color: #583C87;
  top: 93%;
  left: 79%;
  animation-duration: 130s;
  animation-delay: -5s;
  transform-origin: 24vw -1vh;
  box-shadow: -20vmin 0 2.552735747152406vmin currentColor;
}
.background span:nth-child(13) {
  color: #583C87;
  top: 32%;
  left: 82%;
  animation-duration: 77s;
  animation-delay: -122s;
  transform-origin: -18vw 20vh;
  box-shadow: -20vmin 0 2.6824666165343736vmin currentColor;
}
.background span:nth-child(14) {
  color: #FFACAC;
  top: 97%;
  left: 82%;
  animation-duration: 70s;
  animation-delay: -121s;
  transform-origin: 0vw -14vh;
  box-shadow: -20vmin 0 2.7378447608481564vmin currentColor;
}
.background span:nth-child(15) {
  color: #FFACAC;
  top: 16%;
  left: 95%;
  animation-duration: 198s;
  animation-delay: -131s;
  transform-origin: 20vw 14vh;
  box-shadow: -20vmin 0 2.9114278896843535vmin currentColor;
}
.background span:nth-child(16) {
  color: #E45A84;
  top: 72%;
  left: 82%;
  animation-duration: 121s;
  animation-delay: -127s;
  transform-origin: -13vw -10vh;
  box-shadow: 20vmin 0 3.429590537954749vmin currentColor;
}
.background span:nth-child(17) {
  color: #583C87;
  top: 87%;
  left: 82%;
  animation-duration: 173s;
  animation-delay: -103s;
  transform-origin: 16vw -1vh;
  box-shadow: 20vmin 0 2.5491877456333896vmin currentColor;
}
.background span:nth-child(18) {
  color: #E45A84;
  top: 76%;
  left: 22%;
  animation-duration: 51s;
  animation-delay: -142s;
  transform-origin: -12vw -24vh;
  box-shadow: -20vmin 0 3.221172634251577vmin currentColor;
}
.background span:nth-child(19) {
  color: #583C87;
  top: 66%;
  left: 55%;
  animation-duration: 63s;
  animation-delay: -101s;
  transform-origin: -6vw -7vh;
  box-shadow: -20vmin 0 2.5831843702407706vmin currentColor;
}
.background span:nth-child(20) {
  color: #E45A84;
  top: 68%;
  left: 43%;
  animation-duration: 140s;
  animation-delay: -46s;
  transform-origin: 2vw 21vh;
  box-shadow: -20vmin 0 3.108312839822309vmin currentColor;
}
.background span:nth-child(21) {
  color: #E45A84;
  top: 68%;
  left: 92%;
  animation-duration: 47s;
  animation-delay: -12s;
  transform-origin: 2vw -18vh;
  box-shadow: 20vmin 0 3.2561670953449497vmin currentColor;
}
.background span:nth-child(22) {
  color: #583C87;
  top: 38%;
  left: 59%;
  animation-duration: 186s;
  animation-delay: -50s;
  transform-origin: -11vw 18vh;
  box-shadow: -20vmin 0 3.0386306157843648vmin currentColor;
}
.background span:nth-child(23) {
  color: #FFACAC;
  top: 61%;
  left: 71%;
  animation-duration: 94s;
  animation-delay: -31s;
  transform-origin: 24vw 18vh;
  box-shadow: -20vmin 0 3.4743417320798695vmin currentColor;
}
.background span:nth-child(24) {
  color: #583C87;
  top: 88%;
  left: 92%;
  animation-duration: 90s;
  animation-delay: -192s;
  transform-origin: -17vw -5vh;
  box-shadow: 20vmin 0 3.000835867547923vmin currentColor;
}
.background span:nth-child(25) {
  color: #FFACAC;
  top: 5%;
  left: 39%;
  animation-duration: 39s;
  animation-delay: -186s;
  transform-origin: -12vw 13vh;
  box-shadow: -20vmin 0 2.639968259463809vmin currentColor;
}
.background span:nth-child(26) {
  color: #583C87;
  top: 33%;
  left: 35%;
  animation-duration: 122s;
  animation-delay: -181s;
  transform-origin: -10vw -4vh;
  box-shadow: -20vmin 0 3.1084420358186264vmin currentColor;
}
.background span:nth-child(27) {
  color: #583C87;
  top: 74%;
  left: 47%;
  animation-duration: 8s;
  animation-delay: -89s;
  transform-origin: 19vw -19vh;
  box-shadow: -20vmin 0 2.7482211556453278vmin currentColor;
}
.background span:nth-child(28) {
  color: #583C87;
  top: 79%;
  left: 23%;
  animation-duration: 98s;
  animation-delay: -210s;
  transform-origin: -11vw 11vh;
  box-shadow: 20vmin 0 2.710335347170752vmin currentColor;
}
.background span:nth-child(29) {
  color: #583C87;
  top: 10%;
  left: 91%;
  animation-duration: 152s;
  animation-delay: -53s;
  transform-origin: -2vw -4vh;
  box-shadow: -20vmin 0 2.8379050815662827vmin currentColor;
}
.background span:nth-child(30) {
  color: #FFACAC;
  top: 93%;
  left: 41%;
  animation-duration: 119s;
  animation-delay: -166s;
  transform-origin: -21vw 14vh;
  box-shadow: -20vmin 0 2.75031919402409vmin currentColor;
}
.background span:nth-child(31) {
  color: #583C87;
  top: 58%;
  left: 63%;
  animation-duration: 41s;
  animation-delay: -150s;
  transform-origin: 18vw -24vh;
  box-shadow: 20vmin 0 3.0272213656499316vmin currentColor;
}
.background span:nth-child(32) {
  color: #E45A84;
  top: 71%;
  left: 93%;
  animation-duration: 70s;
  animation-delay: -202s;
  transform-origin: 15vw 24vh;
  box-shadow: -20vmin 0 3.2261305500656903vmin currentColor;
}
.background span:nth-child(33) {
  color: #E45A84;
  top: 53%;
  left: 68%;
  animation-duration: 104s;
  animation-delay: -149s;
  transform-origin: 22vw -2vh;
  box-shadow: 20vmin 0 3.495462582875396vmin currentColor;
}
.background span:nth-child(34) {
  color: #583C87;
  top: 53%;
  left: 23%;
  animation-duration: 105s;
  animation-delay: -181s;
  transform-origin: 3vw -7vh;
  box-shadow: -20vmin 0 2.713514195179056vmin currentColor;
}
